<% if message.role == "user" %>
  <div class="d-flex justify-content-end mb-3">
    <div class="p-3 rounded" style="background-color: #e8f5e9; max-width: 70%;">
      <p><%= message.content %></p>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-start mb-3">
    <div class="p-3 rounded" style="background-color: #f5f5f5; max-width: 70%;">
      <%= sanitize(Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(message.content)) %>
    </div>
  </div>
<% end %>
