<div class="container mt-4">
  <h5>Retrieve your favorites recipes</h5>

  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
        <%= button_to "Delete", recipe_path(recipe), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
