<div class="container-fluid mt-4">

  <%# Fenêtre du chat IA %>
  <% @chat = current_user.chats.last %>
  <% if @chat %>
    <div class="mt-4">
      <div id="messages" data-controller="scroll" style="height: 60vh; overflow-y: auto;">
        <%= render "messages/messages", messages: @chat.messages %>
      </div>

      <div id="new_message_container">
        <%= render "messages/form", chat: @chat, message: Message.new %>
      </div>
    </div>
  <% end %>

</div>
