<div class="container py-5">
  <h1>Add a new ingredient</h1>

  <%= form_with model: @ingredient, url: ingredients_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit "Add ingredient", class: "btn btn-primary" %>
  <% end %>
</div>
