<<div class="container mt-4">

  <h1>Add a new ingredient</h1>

  <%= simple_form_for :ingredient, url: ingredients_path, method: :post do |f| %>
    <%= f.input :ingredient, label: "Ingredient", placeholder: "Tomato, basil, pasta..." %>
    <%= f.button :submit, "Add ingredient", class: "btn btn-primary" %>
  <% end %>

</div>
git add .
git commit -m "Fix new ingredient page: remove Ingredient.new and adjust routes/view"
