.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); // togli la navbar
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-title {
  font-size: 42px;
  font-weight: 700;
  color: #333;
}

.home-subtitle {
  font-size: 20px;
  color: #666;
}

.btn-add-ingredient {
  background-color: #f7c948;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn-add-ingredient:hover {
  background-color: #f4b731;
}
